.fire-background {
  background-color: #ffcccc;
}

.earth-background {
  background-color: #ffe6b3;
}

.air-background {
  background-color: #cce6ff;
}

.water-background {
  background-color: #e6ffff;
}
